
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CargaDatos</title>
</head>
<body>
    <div>
        <p>Los datos fueron guardados correctamente</p>
        <p>Gracias por sus comentarios</p>
        <a href="#">Ver comentarios</a>
    </div>
</body>
</html>
