
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p><a href="@Url.Action("FormularioVisita", "Home") " >Deja tu comentario </a></p>
        <p><a href="@Url.Action("ListadoVisitas", "Home")"> Comentarios de los visitantes </a></p>
    </div>
</body>
</html>
